<div class="ui container route-container">
	<div class="ui tabular menu">
		{{log priceListTypes}}
		{{#each priceListTypes as |priceListType|}}
			<a class="item {{if (eq selectedPriceType.title priceListType.title) "active"}}" {{action "selectPriceType" priceListType}}>
				<h5>{{priceListType.title}}</h5>
			</a>
		{{/each}}
	</div>

	{{#each selectedPriceType.images as |imageUrl|}}
		<img src="{{imageUrl}}" style="width: {{generalService.priceTypeImageUiProps.width}}; height: {{generalService.priceTypeImageUiProps.height}};">
	{{/each}}
</div>